# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/dist
src/config/*.tmp
src/config/env.js
/index.html
/index_prod.html

# production
/build

# misc
.idea
.idea/
.DS_Store
.project
